.side-thumbnail-container {
    width: 10%;
    position: absolute;
    bottom: 1%;
    left: 5%;
}
.selected-floor-container {
    width: 100%;
    object-fit: cover;    
    background: var(--theme-div-background);
    padding: 0.8%;
}

.selected-floor-plan{
    height:1500px;
    width:100%;
}

.selected-floor-container .hidden{
    display: none;
    visibility: hidden;
}