.histogram .bar[fill='']{
    fill: var(--theme-histogram-bar)
}

.histogram .bar[fill='latest']{
    fill: var(--theme-histogram-bar-latest);
}

.histogram {
    padding: 20px 50px;
}

.histogram .tick {   
    stroke: var(--theme-inactive-text);
}

.histogram text {   
    fill: var(--theme-inactive-text);
    font-size: 13px;
}

.histogram path {   
    stroke: var(--theme-inactive-text);
    stroke-opacity: 1;
}

.histogram line {   
    stroke: var(--theme-inactive-text);
}

.barchart {
    padding: 0px 0px;
}

.field-details {
    background: var(--theme-div-background);
    padding-bottom: 20px;
    height: 100%;
}

.field-details-content {
    display: flex;
    flex-wrap: wrap;
}

.field-details-title, .field-details-title h2 {
    background: var(--theme-background);
    margin: 0px;
    padding: 5px;
}

.barchart .axis text {
    font-size: 13px;
    font-weight: normal;
}

.field-details-content h5 {
    text-align: center;
    color: var(--theme-inactive-text);
}

.field-details-content > div {
    margin: 10px;
    width: 370px;
}

.field-details-content > div > div {
    background: var(--theme-inactive-slider);
}

.summary-data-content {
    padding: 30px;
}