.server-alerts-container{
    overflow: hidden;
    height: 100vh;
}

.server-alerts-main{
    background: #3A4D61;
}

.server-alerts-container > .draggable-title {
    margin-bottom: 0px;
}

.slot{
    fill: #3f5b72;
}
.slot-alert{
    fill: #be4052;
    stroke: #cc5b6c;
}
.empty-slot{
    fill: #39546a;
}
.pdu{
    fill: #47667a;
}
.text{
    font-size:1 em;
    fill: white;
    font-weight: bold;
}

.slot-bar {
    fill: #354e63;
}

.slot-bar.selected {
    fill: #354e63;
    stroke: #fff;
    stroke-width: 2px;
}

.slot-text{
    fill: white;
    font-size: 1vmin;
}
.indicator{
    stroke: #b5fdba;
    fill: #6ec674;
}

.indicator-alert{
    stroke: #e4576c;
    fill: #be4052;
}

.slotDetails{
    z-index:1;
    fill: #2D3D4E;
}
.rack-active{
    opacity: 1;
}
.rack-inactive{
    opacity: 0.2;
}

.details-connectors {
    stroke: #fff;
    stroke-width: 2px;
}

.details-connectors.animate {
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    animation-name: draw;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}