.shutters-container-sideview .svg-container-sideview {
}

.windscreen-sideview {
    stroke: var(--theme-windscreens);
    stroke-width: 5;
    stroke-linecap: round;
    fill: none; 
}

.shutter-sideview {
    stroke: var(--theme-shutters);
    stroke-width: 15;
    stroke-linecap: round;
    fill: none; 
}