.environment-container table {
    width: calc(100% - 10px);
    height: 100%;
}

.environment-container .table-wrapper {
    background: var(--theme-div-background);
    padding: 10px 20px;
    margin: 0px 5px;
}

.environment-container table tbody tr{
    border-bottom: 2px solid var(--theme-active-slider);
}

.environment-container table tbody td{    
    padding: 10px 20px;
}

td.telemetry-name {
    font-weight: bold;
    width: 170px;
}

.tick text {
    fill: #dddddd;
}

.environment-container .hidden svg {
    max-height: 0;
}

.environment-container  svg {
    max-height: 300px;
    transition: max-height 0.5s ease-in-out;
}

.environment-container .plot-div {
}

.environment-container .plot-column {
}

.environment-container tr {
    vertical-align: top;
    cursor: pointer;
}

.environment-container td {
    vertical-align: top;
    cursor: pointer;

}