
.survey-control-bar{
    height: 10%;
    /* background: #fff; */
    background: #3d5871;
    color: #96a3b3;
}

.mode-selection{
    vertical-align: top;
    display: inline-block;
    padding: 15px 20px;
    margin: 0.5% 0%;
    border-right: 3px solid #2d3d4e;
}

.date-selection{
    vertical-align: top;
    display: inline-block;
}

.player-controls{
    vertical-align: top;
    display: inline-block;
}

.survey-controls {
    position: relative; 
}