.cable-wraps-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 100%;  
    margin-top: 0;
}

.cable-wraps-container .cable-wraps-content {
    color: #96a3b3;
    background: var(--theme-div-background);
    margin: 5px;
    height: 100%;
    margin-top: 0;
    padding-right: 5px;
    padding-left: 20px;
}

.rotator-diff {
    font-size: 17px;
    margin-bottom: 0;
    margin-left: 10px;
}

.rotator-diff-value {
    font-weight: bold;
    margin-left: 10px;
}

.cam-cable {
    max-width: 20%;
}

.cable-wrap-separator {
    height: 290px;
    width: 3px;
    margin-top: 40px;
    margin-right: 50px;
    border-radius: 10px;
    background: #2d3d4e;
}