.cable-wraps-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 100%;  
    margin-top: 0;
}

.cable-wraps-container .cable-wraps-content {
    color: #96a3b3;
    background: var(--theme-div-background);
    margin: 5px;
    height: 100%;
    margin-top: 0;
    padding-right: 5px;
}

.rotator-diff {
    font-size: 17px;
    margin-bottom: 0;
    margin-left: 10px;
}

.rotator-diff-value {
    font-weight: bold;
    margin-left: 10px;
}