.floor-thumbnail-wrapper {
    object-fit: cover;
    flex: 1 1 10%;
    margin-top: 5px;
    position: relative;
    /* padding: 10px; */
    background: var(--theme-div-background);
}

.floor-thumbnail-wrapper.alarm:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,0,0, 0.0);
    transition: all 0.1s linear;
    height: 100%;
    animation-duration: 1.0s;
    animation-name: blinker;
    animation-iteration-count: 5;
}


.floor-thumbnail-wrapper img {
    width: 55.4%;
    margin: 2%;
    display: inline-block;
}

.floor-thumbnail-wrapper p {
    margin: 5%;
    display: inline-block;
    width:'auto';
    height:'100%';
    font-size: 1.4em;
    font-weight: bold;
}