#dashboard {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#dashboard-content {
    display: inline-block;
}

#dashboard-toolbar{
    height: 100%;
    background: #2d4053;
    display: inline-block;    
}

#dashboard-content > div {
    background: #2d4053;
    margin: 2px;
    cursor: default;
}

.draggable {
    /* box-shadow: 0 0 0 5px #f00 inset; */
}

#toolbar {
    width: 3vw;
}

.react-draggable {
    overflow: hidden;
}