.xAxis text{
    fill: white;
    opacity:0.5;
    font-size: 12px;
  }  
  
  .xAxis line{
    stroke: white;
    opacity:0.5;
  }
  
  .xAxis path{
    stroke: white;
    opacity:0;
  }
  

  .yAxis text{
    fill: white;
  }  
  
  .yAxis line{
    stroke: white;
  }
  
  .yAxis path{
    stroke: white;
    opacity:0;
    
  }
  