.shutters-container .svg-container {
    background-image: url("/img/dome_front.png");
    background-size:     contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.status-circle-open:before {
    content: ' \25CF';
    color: #6ec674;
}

.status-circle-closed:before {
    content: ' \25CF';
    color: #be4052;
}

.shutter {
    fill: var(--theme-shutters);
    stroke: var(--theme-div-background);
}

.windscreen {
    fill: var(--theme-windscreens);
    stroke: var(--theme-div-background);
}