.building-container > .draggable-title {
    margin-bottom: -5px;
}

.building-container-main {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.floor-plan-thumbnails-container {
    display: flex;
    object-fit: cover;
    flex-flow: column;
    flex: 1 1 2.6%;
    margin-left: 10px;
}

.floor-plan-thumbnails-container > .alarm {
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.7);
}

.floor-plan-thumbnails-container > .selected {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
}

.selected-floor-container {
    /* the third number is the shrink ratio, 1 1 0% means dont shrink at all, */
    flex: 1 1 70%;
    margin: 10px 10px 0 10px;
}

.selected-floor-container > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.selected-floor-container.alarm {
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.7);
}



@keyframes blinker {
    from {
        background: rgba(255,0,0, 0.1);
    }

    20% {
        background: rgba(255,0,0, 0.1);        
    }

    50% {
        background: rgba(255,0,0, 0.01);        
    }

    80% {
        background: rgba(255,0,0, 0.1);        
    }

    to {
        background: rgba(255,0,0, 0.1);
    }
}



/* .selected-floor-container img {
    width: 100%;
} */

/* .selected-floor-container {
    width: 100%;
    object-fit: cover;    
    background: var(--theme-div-background);
} */