.DayPickerInput {
    display: inline-block;
} 

.date-selection p {
    margin: 0px 10px;
    display: inline-block;    
} 

.DayPickerInput-OverlayWrapper {
    z-index: 10;
}

.date-input {
    display: inline-block;
    padding: 5px;
}

.date-separator {
    display: inline-block;
    background: #2d3d4e;
    padding: 6px;
    margin: -4px;
}

.calendar-icon {
    font-size: 1.3vw;
    margin-right: 10px;
}

/* Datepicker */
.react-datepicker__time-list {
    box-sizing: content-box;
    padding-left: 0px;
}

.react-datepicker {
    color: #d4d7da;
    background-color: #3a4d61;
}

.react-datepicker__header {
    color: #d4d7da;
    background-color: #3a4d61;    
}

.react-datepicker__time-container .react-datepicker__time {
    color: #d4d7da;
    background: #3a4d61;    
}

.react-datepicker-time__header {
    color: #d4d7da;    
}

.react-datepicker__day{
    color: #d4d7da;    
}

.react-datepicker__current-month{
    color: #d4d7da;    
}

.react-datepicker__day-name {
    color: #d4d7da;       
}

.react-datepicker__day--disabled{
    color: #96a3b3;
}

.react-datepicker__time-box {
    width: 90px !important;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 100px;
}

.react-datepicker__input-container > input {
    background: #3a4d61;
    border: #96a3b3 solid 2px;
    padding: 3px 15px;
    color: #fff;
    width: 190px;
}

.react-datepicker__input-container > input::placeholder {
    text-align: center;
    color: #fff;
}

.react-datepicker__input-container > input:focus {
    border-color: #d4d7da;
    outline-width: 0;
}

.date-left input {
    text-align: right;
    border-radius: 3px 0px 0px 3px;
    border-right: none;
}

.date-right input {
    text-align: left;
    border-radius: 0px 3px 3px 0px;
    border-left: none;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #5b6b7b;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
    background-color: #5b6b7b;    
}

.react-datepicker__day--selected {
    background-color: #5b6b7b;
}