.chart {
  shape-rendering: crispEdges;
}

.mini text {
  font: 9px sans-serif;	
}

.main text {
  font: 12px sans-serif;	
}

.item {
  fill:	#ffffff;
  stroke-width: 6;	
}


.brush .extent {
  stroke: gray;
  fill: dodgerblue;
  fill-opacity: .365;
}


.laneText{
  fill: white;
}