.chart {
  shape-rendering: crispEdges;
}

.mini text {
  font: 9px sans-serif;	
}

.main text {
  font: 12px sans-serif;	
}

.item0 {
  fill:	#0c1a4a;
  stroke-width: 6;	
}

.item1 {
  fill:#3e55a3;
  fill-opacity: .7;
  stroke-width: 6;	
}

.item2 {
  fill: #ff9936;
  fill-opacity: .7;
  stroke-width: 6;	
}
.item3{
  fill: #33f8ff;
  stroke-width: 6;	
}

.item4 {
  fill: 	#fbadcd	;
  fill-opacity: .7;
  stroke-width: 6;	
}


.brush .extent {
  stroke: gray;
  fill: dodgerblue;
  fill-opacity: .365;
}