.chart {
  shape-rendering: crispEdges;
}

.mini text {
  font: 9px sans-serif;	
}

.main text {
  font: 12px sans-serif;	
}

.item {
  fill:	white;
  stroke: white;
}

.laneText{
  fill: white;
}

.yAxis text{
  fill: white;
}  

.yAxis line{
  stroke: white;
}

.yAxis path{
  stroke: white;
}
