.brush .extent {
    stroke: gray;
    fill: dodgerblue;
    fill-opacity: .365;
}

.slider-container {
    /* background: red; */
    /* background: #eee; */
    /* margin: 10px; */
    /* padding: 10px; */
    margin-left: 120px;
    /* margin-right: 500px; */
  }


.x text{
    fill: white;
  }  
  
  .x line{
    stroke: white;
  }
  
  .x path{
    stroke: white;
  }