.brush {
    /* stroke: red; */
    fill: white;
    fill-opacity: .1;
    /* margin-bottom: 120px; */
    /* margin-top: 0; */
    /* stroke-opacity: 0; */
    padding-right:100px;
  }

.selection{
  fill: white;
  stroke:transparent;
}

.slider-container {
    /* background: red; */
    /* margin-top:10px; */
    /* background: #eee; */
    margin-bottom: 20px;
    /* margin-right: 10px; */
    margin-left: 120px;
    /* padding-right:10px; */
    
    /* margin-right: 500px; */
  }

  .x text{
    fill: white;
    /* padding-top:40px; */
  }  
  
  .x line{
    stroke: white;
    /* stroke-opacity: 0; */
  }
  
  .x path{
    stroke: white;
    stroke-opacity: 0;
  }

  .charts-container{
    /* padding-top: 100px; */
    /* padding-right:20px; */
    padding:10px;
    margin-top:5px;
    background: #3d5871;
  }

  .bckg{
    opacity: .1;
    fill: white;
  }