
h2 {
  padding: 5px 10px;
}

h3 {
  background: #2d4053;
  padding: 5px 10px;
}

.survey-container {
  width: 100%;
}

.main-skymap-wrapper {
  background: #31475c;  
  /* background: #eee; */
  /* margin: 10px; */
  padding: 5px;
  position: relative;
}

.main-container {
  position: relative;
  width: 100%;
}

.left-container {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 75%;
  margin: 0px 3px;
  padding: 0px 7px;
}

.right-container {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 25%;
  margin: 0px 3px;
  padding: 0px 7px;
}

.minimap {
  display: inline-block;
}

.minimap-container {
  right: 0;
  top: 0;
  background: #3d5871;   
}

.mainSkymap {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 44%;
  margin: 20px auto;
}

.survey-container {
  display: inline-block;  
}

.sidebar {
    display: none;
    height: 100%;
    width: 200px;
    position: fixed;
    text-align: left;
    padding: 15px;  
    z-index: 1;
    top: 0;
    right: -200px;
    background-color: #fff;
    border-left: 1px solid #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-open {
  width: 200px;
  right: 0px;
  padding: 15px;  
}

.settings-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.hover-div {
  position: absolute;
  font-size: 13px;
  bottom: 0;
  left: 0;
}

.hover-filter {
  display: inline-block;
  margin: 0px 5px;
  text-align: center;
  border-radius: 2px;
  padding: 0px 5px;
}

/* #04070a */