.dome-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 100%;
}

.dome-container .draggable-title {
    display: block;
}

.dome-container h2 {
    margin: 0px;
    margin-bottom: 5px;
    color: #fff;
}

.dome-container h4 {
    background: #3a4d61;
    font-weight: normal;
}

.dome-container .container {
    background: #3a4d61;
    width: 100%;
    margin: 0px;
    height: 100%;
    max-width: none;
}

.dome-position-container {
    vertical-align: top;
    margin: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 20px;
    border-bottom: var(--separator-size) solid var(--theme-separator);
}

.dome-azimuth-time-series-container {
    vertical-align: top;
    margin: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 20px;
    border-top: var(--separator-size) solid var(--theme-separator);
}

.m1m3-heading-col {
    padding: 0px;
    padding-left: 5px;
}

.m2-heading-col {
    padding: 0px;
}

.mirror-row {
    margin-bottom: 50px;
}

.mirror-bottom-row {
    margin-bottom: 25px;
}

.time-series-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.time-series-container h5 {
    padding: 30px 0px;
}

.dome-perspectives-container {
    border-bottom: var(--separator-size) solid var(--theme-separator);
}

.timeseries-legend {
    display: flex;
    justify-content: center;
}