.minimap-wrapper {
    display: inline-block;
    width: 45%;
    margin: 5px;
}

.filter-name {
    margin: 5px;
    text-align: center;
}

.all-filter {
    margin: auto;
    display: block;
}

canvas {
    display: block;
    margin: 0px auto;
    position: relative;
}

.selected-filter {
    border: 1px solid red;
}

.minimap {
    width: 100%;
}