.minimap-wrapper {
    display: inline-block;
    position: relative;
    width: 40%;
    color: #96a3b3;
}

.filter-name {
    text-align: center;
}

.all-filter {
    margin: auto;
    display: block;
}

canvas {
    display: block;
    margin: 0px auto;
    position: relative;
    cursor: pointer;
}

.skymap-wrapper.selected-filter {
    border-bottom: white solid 3px;
}

.skymap-wrapper {
    border-bottom: rgba(255, 255, 255, 0) solid 3px;
    margin: 0px 5px;
}

.selected-filter {
    color: #fff;
}

.minimap {
    width: 100%;
}