.dome-position-info {
    vertical-align: middle;
    display: inline-block;
    font-size: var(--dome-text-size);
}

.dome-angle {
    stroke: var(--theme-dome-angle);
    fill: var(--theme-dome-angle);
    stroke-width: 5;
    stroke-dasharray: 15;
}

.mount-angle {
    stroke-width: 3;
    stroke: var(--theme-dome-mount-angle);
}

.dome-azimuth-text {
    color: var(--theme-dome-angle);
}

.dome-data {
    color: var(--theme-active-text);
}

/* .cardinal-points {

}

.cardinal-points img {
    filter: invert(60%) sepia(100%) hue-rotate(160deg);
} */

.north-img {
    width: 8%;
    position: absolute;
}

.dome-wrapper {
    position: relative;
}

.dome-position-container .svg-container {
    padding: 50px;
}

.dome-wrapper .svg-container {
    padding-left: 150px;
}