.status-circle-open:before {
    content: ' \25CF';
    color: green
}

.status-circle-closed:before {
    content: ' \25CF';
    color: red
}

.dome-position-container {
    margin-top: 50px;
}

.dome-position-info {
    vertical-align: top;
    display: inline-block;
}